@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fontstatic.com/f=stc');

body {
    direction: rtl;
    font-family: stc;
}

/* Preformatted and code formatted segments LTR */
html[lang=ar] pre {
    direction: ltr;
    text-align: left;
}

html[lang=ar] code {
    unicode-bidi: bidi-override;
    direction: ltr;
}

html[lang=ar] div.highlight {
    unicode-bidi: bidi-override;
    direction: ltr;
}

/* Force floated images float opposite in Arabic */
html[lang=ar] .rst-content .align-right {
    float: left;
}

/* RTD navigation changes for Arabic */
html[lang=ar] .wy-breadcrumbs select.wy-breadcrumbs-aside {
    float: left;
}

html[lang=ar] .wy-nav-side, html[lang=ar] .rst-versions {
    right:0;
}

html[lang=ar] .wy-nav-content-wrap {
    margin-right: 300px;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    html[lang=ar] .wy-nav-side {
        right:-300px;
    }
    html[lang=ar] .wy-nav-side.shift {
        right:0;
    }
    html[lang=ar] .wy-nav-content-wrap {
        margin-right:0;
    }
    html[lang=ar] .wy-nav-content-wrap.shift {
        right:85%;
    }
}

html[lang=ar] .wy-nav-top i {
    float:right;
}

html[lang=ar] .wy-menu-vertical li span.toctree-expand {
    float:none;
    margin-right: -1.2em;
    margin-left: 0;
    padding-left: .4em;
}

html[lang=ar] .wy-breadcrumbs li.wy-breadcrumbs-aside {
    float:left;
}

html[lang=ar] .wy-menu-vertical li.current>a span.toctree-expand {
    display:inline-block;
}

html[lang=ar] .wy-plain-list-disc li, .rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li {
    margin-right: 24px;
}

html[lang=ar] .wy-plain-list-decimal li, .rst-content .section ol li, .rst-content ol.arabic li, article ol li {
    margin-right: 24px;
}

.rst-content .admonition-title::before {
    margin-left: 4px;
}

.rst-content blockquote {
	margin-left: 5px;
}

.rst-content .section ul li {
    margin-bottom: 8px;
}

a:hover {
    color: #408080d1;
}

.wy-menu-vertical a:active {
    background-color: #408080;
}

a:visited {
    color: #408080;
}

.figure img {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto 5px;
}

.rst-content div.figure p.caption {
    padding-right: 5px;
}

.wy-menu-vertical a {
    font-weight: bold;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    color: #408080;
}

span.caption-text {
    border-bottom: 1px solid #797979;
    padding-bottom: 5px;
    font-size: smaller; 
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #408080;
    font-size: 100%;
}

 .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
       this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
    vertical-align: top !important;
 }

/* Change background color to match Spadone */
 .wy-side-nav-search {
    background-image: url(https://i.imgur.com/0n2dd5u.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.35);
 }
 
 
.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo {
    max-width: 100%;
 }
 
 .wy-alert p:last-child, .rst-content .note p:last-child, .rst-content .attention p:last-child, .rst-content .caution p:last-child, .rst-content .danger p:last-child, .rst-content .error p:last-child, .rst-content .hint p:last-child, .rst-content .important p:last-child, .rst-content .tip p:last-child, .rst-content .warning p:last-child, .rst-content .seealso p:last-child, .rst-content .admonition-todo p:last-child, .rst-content .admonition p:last-child {
    font-weight: bold;
}

.wy-alert.wy-alert-info .wy-alert-title, .rst-content .note .wy-alert-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .rst-content .note .admonition-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .seealso .admonition-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition .admonition-title {
    background: #5f9ea0;
    font-family: sans-serif;
}
 
 .wy-breadcrumbs li {
    font-weight: 600;
    font-size: small;
}

  a {
    color: #408080;
    font-weight: bold;
}
 
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: stc;
    color: cadetblue;
}

.wy-breadcrumbs li a:first-child {
    color: cadetblue;
    font-family: sans-serif;
    direction: ltr;
}

.wy-nav-top {
    background: #404040 !important;   
}

/* Improve the contrast for the version number.*/
.wy-side-nav-search > div.version {
    color: rgba(255,255,255,0.9);
}

.material-icons {
    display: inline-flex;
    vertical-align: middle !important;
    padding-bottom: 8px !important;
    padding-right: -5px !important;
}

.local_library {
	color: #2196f3;
}

.outline {
    padding-bottom: 1px !important;
    border: 2px solid;
    border-radius: 50%;
}

.schedule {
	padding-bottom: 1px !important;
	background-color: #2196f3;
	border-radius: 50%;
	color: #fff;
}

.clock {
    padding-bottom: 1px !important;
    border-radius: 50%;                                                                                            
    color: #2196f3;
}

.star {
	padding-bottom: 1px !important;
	background-color: #ffc107;
	border-radius: 50%;
	color: #fff;
}

.star-small {
    padding-bottom: 1px !important;
    border-radius: 50%;
    color: #ffc107;
}

.help {
    padding-bottom: 1px !important;
    border-radius: 50%;
    color: #df4d4f;
}

.drag {
    transform: rotate(90deg);
}

img {
	height: 1.2em;
	vertical-align: text-bottom;
}

.rst-content span.guilabel {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    font-size: 80%;
    font-weight: normal;
    padding: 4px 5px 3px;
    margin-top: -2px;
    font-family: Consolas, Menlo, Courier, "Courier New", monospace;
}

.rst-content div.highlight {
    background: #feffe9 !important;
}

.admonition {
  clear: both;
}

footer {
    text-align: center;
    direction: ltr;
    font-family: sans-serif;
}

footer p {
    text-align: center;
    direction: ltr;
    font-family: sans-serif;
}